:root{
    --main-teal-color: #26FFDF;
    --darker-teal-color: #025159;
    --darkest-blue-color: #011C26;
    --orangey-color: #F26A18;
    --red-color: #FF2C10;
}
*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: var(--darkest-blue-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Navigation bar styling*/
#top-nav{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#title-link{
    color: white;
    padding: 5px;
}
#top-nav ul{/*Just to highlight elems in nav*/
    border: 2px dotted red;
}
#page-anchors, #social-links{
    display: flex;
    padding: 10px;
    gap: 10px;
    list-style: none;
}
/*Main styling*/
#main{
    height: auto;
    width: 100%;
}
#main img{
    width: 100%;
    height: auto;
    padding: 5px;
}
#main header{
    padding: 10px;
    text-align: center;
}
#main article{
    padding: 10px;
}