:root{
    --main-teal-color: #26FFDF;
    --darker-teal-color: #025159;
    --darkest-blue-color: #011C26;
    --orangey-color: #F26A18;
    --red-color: #FF2C10;
}
*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: var(--darkest-blue-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Navigation bar styling*/
#top-nav{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#title-link{
    padding: 5px;
}
#title-link a{
    text-decoration: none;
}
#title-link:hover{
    cursor: pointer;
    font-style: italic;
}
#page-anchors, #social-links{
    display: flex;
    padding: 5px;
    gap: 10px;
    list-style: none;
}
#page-anchors a, #social-links a{
    text-decoration: none;
}
#page-anchors a:hover, #social-links a:hover{
    font-style: italic;
}
/*Header styling*/
/*Header outline
header{
    border: 2px dotted red;
}
*/
header img{
    width: 100%;
    height: auto;
}
header h1{
    text-align: center;
    padding: 5px;
}
header article{
    padding: 10px;
    margin: 10px;
    text-align: center;
}